<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application.name}" />

    <dubbo:consumer validation="false" check="false" />

    <!--register="true"时才能通过zookeeper找到相应接口的实现（由provider配置）
    如果配置成register="false"，表示当前系统的服务不发布到注册中心，部署到生产后，web端会无法启动服务，在使用该接口的controller里会报错。-->
    <dubbo:registry address="${dubbo.registry.address}" register="true" />

    <dubbo:annotation package="com.sgyy.modules" />

	
</beans>